apiVersion: v1
kind: Pod
metadata:
  name: postgres-client
  namespace: ${APP_NAME}
spec:
  restartPolicy: Never
  containers:
    - name: postgres-client
      image: postgres:15
      command: ["sleep", "36000"]
      env:
        - name: PGHOST
          value: "${PGHOST}"
        - name: PGUSER
          value: "${PGUSER}"
        - name: PGPASSWORD
          value: "${PGPASSWORD}"
        - name: PGDATABASE
          value: "${PGDATABASE}"
        - name: PGPORT
          value: "${PGPORT}"
        - name: NEW_DB_USER
          value: "${NEW_DB_USER}"
        - name: NEW_DB_PASSWORD
          value: "${NEW_DB_PASSWORD}"
      resources:
        requests:
          memory: "512Mi"
          cpu: "250m"
        limits:
          memory: "1Gi"
          cpu: "500m"
