layout {
    pane split_direction="vertical" {
        // Left side - K9s views with specific starting contexts
        pane size="50%" split_direction="horizontal" {
            // Top left - K9s starting at deployments view
            pane size="33%" name="📊 HelmReleases (All NS)" {
                command "k9s"
                args "--headless" "-c" "hr" "-A"
            }
            // Middle left - K9s starting at pods view
            pane size="33%" name="📦 Git Sources (k9s)" {
                command "k9s"
                args "--headless" "-c" "gitrepo" "-A"
            }
            // Bottom left - K9s starting at events view
            pane size="34%"  name="⚙️ Kustomizations (k9s)"{
                command "k9s"
                args "--headless" "-c" "kustomizations" "-A"
            }
        }

        // Right side - kubectl watches with filtering
        pane size="50%" split_direction="horizontal" {
            // Top right - Watch pods in namespaces starting with pattern
            pane size="25%" name="🚀 All Deploys" {
                command "k9s"
                args "--headless" "-A" "-c" "deployments"
            }

            // Upper middle - Watch deployments with filter
            pane size="25%"  name="📦 All Flux Pods" {
                command "k9s"
                args "--headless" "-n" "flux-system" "-c" "pods"
            }

            // Lower middle - Watch services with filter
            pane size="25%" name="📦 All External Secrets Manager Pods" {
                command "k9s"
                args "--headless" "-n" "external-secrets" "-c" "pods"
            }

            // Bottom right - Watch nodes status
            pane size="25%" name="📋 Cluster Events" {
                command "k9s"
                args "--headless" "-c" "events" "-A"
            }
        }
    }

    tab_template name="second_tab" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
