# addons/apps/velero/values.yaml

image:
  repository: velero/velero
  tag: v1.17.1

configuration:
  podLabels:
    app.kubernetes.io/environment: prod

  backupStorageLocation:
    - provider: aws
      name: default
      bucket: cloud-velero-prod
      config:
        region: us-east-2
      default: true

  volumeSnapshotLocation:
    - provider: aws
      name: default
      config:
        region: us-east-2
  clientQPS: 80
  clientBurst: 90

schedules:
  backup:
    disabled: false
    labels:
      environment: prod
    annotations:
      environment: prod
    schedule: "0 8 * * *"
    template:
      # keep the backup for 30 days
      ttl: "720h0m0s"
    useOwnerReferencesInBackup: true

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.13.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
  - name: kubectl
    image: docker.io/bitnami/kubectl:latest # latest valid image
    imagePullPolicy: IfNotPresent

credentials:
  useSecret: false

upgradeCRDs: true

resources:
  requests:
    cpu: 1000m
    memory: 512Mi
  limits:
    cpu: 2000m
    memory: 16Gi

tolerations:
  - key: "utilities"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"
