# values.yaml

gateway:
infrastructure:
  annotations: {}
  # AWS Load Balancer annotations (uncomment and set values for AWS):
  #   service.beta.kubernetes.io/aws-load-balancer-type: nlb
  #   service.beta.kubernetes.io/aws-load-balancer-subnets: "<subnet-ids>"
  #   service.beta.kubernetes.io/aws-load-balancer-security-groups: "<security-group-id>"
  #   service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "<acm-certificate-arn>"
  # Azure Load Balancer annotations (uncomment and set values for Azure):
  #   service.beta.kubernetes.io/azure-load-balancer-resource-group: "<resource-group>"  # when PIP is in different RG
  #   service.beta.kubernetes.io/azure-pip-name: "<public-ip-name>"                      # for static IP
listeners:
  - name: https
    protocol: HTTPS
    port: 443
    tls:
      mode: Terminate
      certificateRefs:
        - name: mattermost-tls
    allowedRoutes:
      namespaces:
        from: All
  - name: http
    protocol: HTTP
    port: 80
    allowedRoutes:
      namespaces:
        from: All
gatewayClassName: envoy-gateway
namespace: envoy-gateway
service:
  type: LoadBalancer
  annotations: {}
  # AWS Load Balancer annotations (uncomment and set values for AWS):
  #   service.beta.kubernetes.io/aws-load-balancer-type: nlb
  #   service.beta.kubernetes.io/aws-load-balancer-subnets: "<subnet-ids>"
  #   service.beta.kubernetes.io/aws-load-balancer-security-groups: "<security-group-id>"
  #   service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "<acm-certificate-arn>"
  # Azure Load Balancer annotations (uncomment and set values for Azure):
  #   service.beta.kubernetes.io/azure-load-balancer-resource-group: "<resource-group>"  # when PIP is in different RG
  #   service.beta.kubernetes.io/azure-pip-name: "<public-ip-name>"                      # for static IP

image:
  repository: ghcr.io/envoyproxy/gateway
  tag: v0.2.0
  pullPolicy: IfNotPresent
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
commonLabels: {}
commonAnnotations: {}
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
serviceAccount:
  create: true
  name: envoy-gateway
  annotations: {}
securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  allowPrivilegeEscalation: false
  capabilities:
    add:
      - NET_BIND_SERVICE
