apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mattermost

resources:
  - ../../../../../base-apps/mattermost  # must contain its own kustomization.yaml or YAML files
  - license.yaml

# Patches
patches:
  # Patch base HTTPRoute to delete it completely
  - target:
      group: gateway.networking.k8s.io
      version: v1
      kind: HTTPRoute
      name: mattermost
      namespace: mattermost
    patch: |-
      $patch: delete

  - target:
      kind: ExternalSecret
      name: database
      namespace: mattermost
    path: externalsecret-database.yaml
  # Optional: patch the Mattermost CR for NFS configuration
  - path: patches.yaml
