apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mattermost

resources:
  - ../../../../../base-apps/mattermost

patches:
  - path: patches.yaml
  # - target:
  #     kind: ExternalSecret
  #     name: mattermost-license
  #     namespace: mattermost
  #   path: externalsecret-license.yaml
  - target:
      kind: ExternalSecret
      name: database
      namespace: mattermost
    path: externalsecret-database.yaml
  # Remove the default Ingress since we'll be using a Different method for exposing the application in this environment
  - target:
      group: gateway.networking.k8s.io
      version: v1alpha2
      kind: HTTPRoute
      name: my-app
    patch: |-
      - op: remove
        path: /spec
