apiVersion: v1
kind: Service
metadata:
  name: mattermost
  namespace: mattermost
spec:
  type: LoadBalancer
  selector:
    app: mattermost
  clusterIP: None
  ports:
    - name: http
      protocol: TCP
      port: 443
      targetPort: 8065
